data/example
data/random/random_d12.tre.json
data/random/random_d11.tre.json
data/random/random_d10.tre.json
data/random/random_d9.tre.json
data/random/random_d8.tre.json
data/random/random_d7.tre.json
data/random/random_d6.tre.json
data/human
*.tar*